:root {
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;

  --window-height: 100vh;

  --font-main: Inter, monospace;

  --color-primary: #2979ff;
  --color-secondary: #344054;
  --color-text: #344054;
  --color-text-secondary: white;
  --color-primary-dark: #1c54b2;
  --color-accent: #c0c1c2;
  --color-background: white;
  --color-shadow: rgba(240, 228, 255, 0.84);
  --color-error: red;

  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2xl: 24px;

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: var(--text-md);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}